{% extends 'base.html' %}
{% load static %}


{% block content %}

<div >
    <br><br><br><br><br><br><br>
    
</div>

<div class="checkout-section pb-200 md-pb-120">
    <div class="container">
        <form method="POST" type="POST" class="checkout-form" role="form">
            {% csrf_token %}
            <div class="row">
                <div class="col-lg-7">
                    <h2 class="main-title">Quick SignUp</h2>
                    {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-{{message.tags}}" role="alert">
                        {{message}}
                    </div>
                    {% endfor %}
                    {% endif %}
                    <div class="user-profile-data">
                        <div>
                            <div class="col-lg-6"><input name='Email' id='Email' type="email" placeholder="Email Address*" class="single-input-wrapper" required></div>
                            <div class="col-lg-6"><input name='Password' id='Password' type="Password" placeholder="Password*" class="single-input-wrapper" required></div>
                            <div class="col-12">
                            </div>
                            <div class="col-12">
                                <br>
                                <button  type="submit" class="theme-button-three">Loign</button> <p class="signUp-text text-center">Don’t have any account? <a href="{% url 'contacts' %}" style="color: rgb(40, 40, 200);">Sign up</a> now.</p>

                            </div>
                        </div> <!-- /.row -->
                    </div> <!-- /.user-profile-data -->
                </div> <!-- /.col- -->
                
            </div> <!-- /.row -->
        </form> <!-- /.checkout-form -->
    </div> <!-- /.container -->
</div> <!-- /.checkout-section -->


{% endblock content %}





