{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="keywords" content="Digital marketing agency, Digital marketing company, Digital marketing services">
		<meta name="author" content="creativegigs">
		<meta name="description" content="Rogan creative multipurpose is a beautiful website template designed for SEO & Digital Agency websites.">
		<meta name='og:image' content='images/home/ogg.png'>
		<!-- For IE -->
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<!-- For Resposive Device -->
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- For Window Tab Color -->
		<!-- Chrome, Firefox OS and Opera -->
		<meta name="theme-color" content="#233D63">
		<!-- Windows Phone -->
		<meta name="msapplication-navbutton-color" content="#233D63">
		<!-- iOS Safari -->
		<meta name="apple-mobile-web-app-status-bar-style" content="#233D63">
		<title>Rogan - Creative Multi-Purpose HTML Template</title>
		<!-- Favicon -->
		<link rel="icon" type="image/png" sizes="56x56" href="{% static 'images/fav-icon/icon.png' %}">
		<!-- Main style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
		<!-- responsive style sheet -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/responsive.css' %}">

		<!-- Fix Internet Explorer ______________________________________-->
		<!--[if lt IE 9]>
			<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
			<script src="vendor/html5shiv.js"></script>
			<script src="vendor/respond.js"></script>
		<![endif]-->	
	</head>

	<body class="page-404">
		<div class="main-page-wrapper">

			<!-- ===================================================
				Loading Transition
			==================================================== -->
			<!-- Preloader -->
			<section>
				<div id="preloader">
					<div id="ctn-preloader" class="ctn-preloader">
						<div class="animation-preloader">
							<div class="spinner"></div>
							<div class="txt-loading">
								<span data-text-preloader="R" class="letters-loading">
									R
								</span>
								<span data-text-preloader="O" class="letters-loading">
									O
								</span>
								<span data-text-preloader="G" class="letters-loading">
									G
								</span>
								<span data-text-preloader="A" class="letters-loading">
									A
								</span>
								<span data-text-preloader="N" class="letters-loading">
									N
								</span>
							</div>
						</div>	
					</div>
				</div>
			</section>


			<!-- 
			=============================================
				Theme Main Menu
			============================================== 
			-->
			<div class="theme-main-menu theme-menu-one">
				<div class="logo"><a href="index.html"><img src="images/logo/logo.svg" alt=""></a></div>
				<nav id="mega-menu-holder" class="navbar navbar-expand-lg">
					<div  class="container nav-container">
					</div> <!-- /.container -->
				</nav> <!-- /#mega-menu-holder -->
			</div> <!-- /.theme-main-menu -->







			<!-- 
			=============================================
				Error Page
			============================================== 
			-->
			<div class="error-content">
				<div class="inner-wrapper">
					<h2 style="font-size: 100px">Thank You</h2>
					<p>Lorem ipsum dolor sit amet, consectetur <br> adipiscing elit, sed do </p>
					<a href="index.html" class="back-button line-button-one">Go Back</a>
				</div>
			</div> <!-- /.error-content -->
			
			



			


		<!-- Optional JavaScript _____________________________  -->

    	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
    	<!-- jQuery -->
		<script src="{% static 'vendor/jquery.2.2.3.min.js' %}"></script>
		<!-- Popper js -->
		<script src="{% static 'vendor/popper.js/popper.min.js' %}"></script>
		<!-- Bootstrap JS -->
		<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- menu  -->
		<script src="{% static 'vendor/mega-menu/assets/js/custom.js' %}"></script>
		<!-- js ui -->
		<script src="{% static 'vendor/jquery-ui/jquery-ui.min.js' %}"></script>
		<!-- Select js -->
		<script src="{% static 'vendor/selectize.js/selectize.min.js' %}"></script>
		<!-- AOS js -->
		<script src="{% static 'vendor/aos-next/dist/aos.js' %}"></script>


		<!-- Language js -->
		<script src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


		<!-- Theme js -->
		<script src="{% static 'js/lang.js' %}"></script>
		<script src="{% static 'js/theme.js' %}"></script>
		</div> <!-- /.main-page-wrapper -->
	</body>
</html>